<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="angular.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script type="text/javascript" src="jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <style media="screen" src="bootstrap.min.css"></style>
    <title>My first Angular App</title>
  </head>
  <body ng-app="MyApp">
    <div class="row">
      <h3>Non Restricted Shopping List</h3>
      <div ng-controller="NonRestrictedController" class="col-sm-6">
        <div class="row">
          <input type="text" class="input-sm form-control" placeholder="Item Name" ng-model="itemName" name="" value="">
          <input type="text" class="input-sm form-control" placeholder="Item Quantity" ng-model="itemQuantity" name="" value="">
          <button type="button" ng-click="addItems()" class="btn btn-sm" name="button">Add</button>
        </div>
        <div class="row">
          <h5>Shpooing Cart:</h5>
          <div class="">
            <ol>
              <li ng-repeat="item in items">{{item.quantity}} of {{item.name}}</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-sm-6" ng-controller="RestrictedController">

      </div>
    </div>
  </body>
</html>
