<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="angular.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script type="text/javascript" src="jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    <title>My first Angular App</title>
  </head>
  <body ng-app="MyApp">
    <div class="row">
      
      <div class="col-sm-6" ng-controller="RestrictedController">
        <h3>Restricted controller</h3>
        <hr>
        <div class="row">
          <input type="text" class="col-sm-4 input-sm"  placeholder="Item Name" ng-model="itemName" name="" value="">
          <input type="text" class="col-sm-4 input-sm"  placeholder="Item Quantity" ng-model="itemQuantity" name="" value="">
          <button type="button" ng-click="addItems()" class="btn btn-sm col-sm-4" name="button">Add</button>
        </div>
        <ol class="list">
            <li ng-repeat="item in items">{{item.quantity}} of {{item.name}}</li>
        </ol>
        <div class="has-error">
          Error Message : {{errorMessage}}
        </div>
      </div>
    </div>
  </body>
</html>
