<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="angular.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script type="text/javascript" src="jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    <title>My first Angular App</title>
  </head>
  <body ng-app="MyApp" ng-controller="MenuServiceController">
    <h3>Ussing Http Service. Menu Service Items</h3>
    <div class="row">
      <ul>
        <li ng-repeat="category in categories">(<a href="" ng-click="showCategoryItems(category.short_name)">{{category.short_name}}</a>) {{category.name}}</li>
      </ul>

    </div>
  </body>
</html>
